/* Reszponzív weboldal */
*{
    margin:0;
    padding:0;
    box-sizing: border-box; 

}
body{
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 900px;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}
main{
    padding: 10px;
    background-color: rgb(226, 186, 186);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    gap: 5px;
    grid-template-areas:
        "n n n n n"
        "a a a a k"
        "f f f f f" ;    
}

article{
    grid-area: a;
}
aside{
    grid-area: k;
}
nav{
    grid-area: n;
}
footer{
    grid-area: f;
}

 /* MENÜ kialakítása */
nav ul{
    display: grid;
    grid-template-columns: 2fr 2fr 8fr;
    gap: 2px;
    list-style-type: none;
    text-align: left;

}
nav li{
    padding: 5px;
}

nav a{
    text-decoration: none;
    color:rgb(70, 0, 128)
}

nav{
    padding: 10px;
    margin: 3px;
}

.kepek{
    padding: 3px;
    font-size: 13px;
    background-color: white;
    border-radius: 10px;
}

article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.kosar li{
    list-style-type: none;
}
img{
    width: 100%;
}
.kosar{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.x{
    color: red;
    border: 1px solid blue;
    border-radius: 3px;
    padding: 1px;
    margin: 2px;
}
.gomb, .tovabb{
    border: 1px solid black;
    background-color: rgb(190, 186, 186);
}
.divrendeles{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
aside{
    background-color: white;
    border-radius: 10px;
}
.tovabb{
    text-align:end;
}


@media only screen and (max-width: 400px) {/* töréspont */
    body {
        width: 100%;
    }
    main {
        font-size: 20px;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
        "n"
        "a"
        "k"
        "f" ;    

    }
    nav ul{

        grid-template-columns: 1fr;
        gap: 5px;
        list-style-type: none;
        text-align: center;}
    article{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            gap: 10px;
        }
}


